.nav-wrapper{
    background:#262d54;
    padding:1rem 0;
    position: sticky;
    top: 0;
    z-index: 30;
    /* backdrop-filter: blur(50px); */
}

.nav-content{
    max-width:1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    margin: 0 auto;

}

nav-content ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

nav-content li{
    margin: 1rem;

}

.menu-item{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: #db1f7a;
    position: relative;
    cursor: pointer; 
    /* look up differnt cursors later */

}