.displayBox{
    width: 100%;
    height: 100%;

}

.backgroundImg {
    display: stretch;
    z-index: -20;
}

.skillDisplay{
    border-style: groove;
    border-radius: .75em;
    background-color: gold;
    position:absolute;
    top: 50%;
    left: 50%;
    align-items: center;
    transform: translateX(-50%) translateY(-50%);
   
}
