.comment-section{
    display:flex;
    flex-direction: column-reverse;
    border: 2px solid black;
    background-color: #fdf800; /* Adjust color and thickness as needed */
    padding: 10px; /* Optional: Add padding inside the border */
}