:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */


  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@font-face{
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: normal;
  src: url('/src/client/assets/Orbitron/static/Orbitron-Regular.ttf') format('truetype')
}

@font-face{
  font-family: 'Orbitron';
  font-style: light;
  font-weight: light;
  src: url('/src/client/assets/Orbitron/Orbitron-VariableFont_wght.ttf') format('truetype')
}

.container{
  max-width: 1300px !important;
  margin: 0 auto;
  position: relative;
}

@media(max-width: 1300px){
  .container{
    padding: 1 1.5rem;
  }
}

a {
  font-weight: 500;
  color:#262d54;
  text-decoration: inherit;
}
a:hover {
  color: #f7f2f5;
  opacity: .9;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  color: #fdf800;
  background-color: #152f64;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #fdf800;
  }
  button {
    background-color: #f9f9f9;
  }
}